Repository openstack-archive/ansible-role-collect-logs: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

zuul.d/layout.yaml:

---
- job:
    name: zuul-ansible-role-collect-logs
    description: Validate that zuul can use that role.
    parent: base
    run: test-playbooks/zuul-ansible-role-collect-logs.yaml
    voting: false
    roles:
      - zuul: opendev.org/openstack/ansible-role-collect-logs
        name: collect-logs
    irrelevant-files:
      - ^vars/sova-patterns.yml$

- project:
    vars:
      fail_logs_collection: true
    templates:
      - tripleo-undercloud-jobs-pipeline
    check:
      jobs: &jobs
        - openstack-tox-linters
        - openstack-tox-molecule
        # Limit the number of jobs executed while still assuring a relevant
        # level of coverage. If specific tasks are to be tested we should
        # consider implementing functional tests for them, especially as
        # running full integration does not effectively validates that the
        # outcome was produced (they still rely on manual verification).
        - tripleo-ci-centos-8-content-provider:
            irrelevant-files: &irrelevant_sa
              - ^.*\.md$
              - ^.*\.rst$
              - ^doc/.*$
              - ^etc/.*$
              - ^metadata.json$
              - ^releasenotes/.*$
              # do not put requirements.txt here, as it can have a huge impact
              - ^test-requirements.txt$
              - ^lower-constraints.txt$
              - ^spec/.*$
              - ^Puppetfile.*$
              - tox.ini
              - ^vars/sova-patterns.yml$
              - ^.ansible-lint$
              - ^.pre-commit-config.yaml$
              - ^.yamllint$
        - tripleo-ci-centos-8-scenario001-standalone:
            irrelevant-files: *irrelevant_sa
            vars: &c8_content_provider
              consumer_job: true
              tags:
                - standalone
            dependencies: &c8_content_deps
              - tripleo-ci-centos-8-content-provider
        - tripleo-ci-centos-8-scenario002-standalone:
            irrelevant-files: *irrelevant_sa
            vars: *c8_content_provider
            dependencies: *c8_content_deps
        - tripleo-ci-centos-8-containers-multinode:
            irrelevant-files: *irrelevant_sa
            vars: &multi_consumer_vars
              consumer_job: true
              build_container_imags: true
              tags:
                - undercloud-setup
                - undercloud-scripts
                - undercloud-install
                - undercloud-post-install
                - tripleo-validations
                - overcloud-scripts
                - overcloud-prep-config
                - overcloud-prep-containers
                - overcloud-deploy
                - overcloud-post-deploy
                - overcloud-validate
            dependencies: *c8_content_deps
        - zuul-ansible-role-collect-logs
    gate:
      jobs: *jobs
      queue: tripleo
    post:
      jobs:
        - publish-openstack-python-branch-tarball

Use unittest.mock instead of mock
  test-requirements.txt
  tests/common/utils.py
  tox.ini
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Fix extra/podman/containers sometimes missing
  tasks/collect.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Collect cluster cib as well
  defaults/main.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Enable verbose output for the openstack cli commands
  defaults/main.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Changing bash executable
  tasks/collect.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Remove --size from container command
  files/collect-container-logs.sh
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Add patterns to sova
  tasks/sova.yml
  vars/sova-patterns.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Fix path for collect-logs role
  ansible.cfg
  defaults/main.yml
  tasks/create-docs.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Collect dnf module related infos
  defaults/main.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Remove cap for sphinx
  docs/doc-requirements.txt
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Add conflict packages pattern
  vars/sova-patterns.yml
Due: none

Add pattern for proxy failure
  vars/sova-patterns.yml
Due: none

Add another packages failure pattern
  vars/sova-patterns.yml
Due: none

Add tempest pattern and standardize it
  vars/sova-patterns.yml
Due: none

Fix roles_path
  ansible.cfg
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Fix pattern message for tempest
  vars/sova-patterns.yml
Due: none

Add pattern to packages download failure
  vars/sova-patterns.yml
Due: none

Also collect journal errors and send to logstash
  defaults/main.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Find correct python interpreter
  infrared_plugin/main.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Reinstate functional testing
  tox.ini
Due: zuul-ansible-role-collect-logs

Revert "Disable voting of broken job"
  tasks/collect.yml
  zuul.d/layout.yaml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Collect all *rc files
  defaults/main.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Make rst files collection compatible
  README.rst
  docs/static/baremetal-overcloud/copying-customized-files.rst
  docs/static/baremetal-overcloud/environment-settings-structure.rst
  docs/static/baremetal-overcloud/networking.rst
  docs/static/env-setup-virt.rst
  docs/static/ovb-openstack-cloud/running-quickstart-instances-openstack.rst
  roles/collect_logs/templates/index.rst.j2
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Fix ansible-test sanity
  docs/source/conf.py
  plugins/module_utils/sova_lib.py
  plugins/modules/ara_graphite.py
  plugins/modules/ara_influxdb.py
  plugins/modules/flatten_nested_dict.py
  plugins/modules/sova.py
  roles/collect_logs/files/collect-container-logs.sh
  roles/collect_logs/files/heat-deploy-times.py
  roles/collect_logs/module_utils/sova_lib.py
  setup.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.9.txt
  tests/sanity/requirements.txt
  tests/test_flatten_nested_dict.py
  tox.ini
  zuul.d/layout.yaml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Bump linters
  .ansible-lint
  .pre-commit-config.yaml
  docs/source/conf.py
  plugins/module_utils/sova_lib.py
  plugins/modules/ara_graphite.py
  plugins/modules/ara_influxdb.py
  plugins/modules/flatten_nested_dict.py
  plugins/modules/sova.py
  pyproject.toml
  roles/collect_logs/files/heat-deploy-times.py
  roles/collect_logs/module_utils/sova_lib.py
  setup.cfg
  setup.py
  tests/common/utils.py
  tests/test_flatten_nested_dict.py
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Enable ansible-test units
  plugins/module_utils/sova_lib.py
  plugins/module_utils/test_utils.py
  plugins/modules/sova.py
  roles/collect_logs/module_utils/sova_lib.py
  tests/common/__init__.py
  tests/unit/requirements.txt
  tests/unit/test_flatten_nested_dict.py
  tests/unit/test_sova.py
  tox.ini
  zuul.d/layout.yaml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Move sova patterns outside the repository
  roles/collect_logs/tasks/sova.yml
  roles/collect_logs/vars/sova-patterns.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Update location of sova patterns
  roles/collect_logs/tasks/sova.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Collect nested virtualization info
  roles/collect_logs/defaults/main.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

add cephadm.log to logstash for indexing
  roles/collect_logs/defaults/main.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Use centos8 stream images with molecule scenarios
  .gitignore
  .pre-commit-config.yaml
  roles/collect_logs/molecule/default/molecule.yml
  roles/collect_logs/molecule/infrared/molecule.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

dump all the shell variables from the system
  roles/collect_logs/defaults/main.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

add sealert diagosis of selinux errors
  roles/collect_logs/defaults/main.yml
  roles/collect_logs/tasks/collect.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Add 2 minute timeout for repoquery
  roles/collect_logs/defaults/main.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Avoid using openstack constraints
  tox.ini
  zuul.d/layout.yaml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Add container update rpms info to collect logs
  roles/collect_logs/files/collect-container-logs.sh
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

add tempest_run.log to logstash
  roles/collect_logs/defaults/main.yml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode

Correct the tox option for skipping sdist generation
  tox.ini
Due: zuul-ansible-role-collect-logs

Refactor zuul jobs
  zuul.d/layout.yaml
Due: zuul-ansible-role-collect-logs, tripleo-ci-centos-8-content-provider, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-containers-multinode
